/* marker fix */
.paf-typography li::marker {
  display: none;
  content: '';
}

.paf-typography-container {
  @apply prose prose-sm lg:prose-lg;
}

.paf-typography {
  @apply text-base;
  @apply text-gray-400;
}

/* .paf-typography--prose-sm {
  @apply prose prose-sm;
}

.paf-typography--prose-lg {
  @apply prose prose-lg;
}

.paf-typography--prose-xl {
  @apply prose prose-xl;
}

.paf-typography--prose-2xl {
  @apply prose prose-2xl;
} */

.paf-typography code {
  padding: 0.2em 0.4em 0.1em;
  background: hsla(0, 0%, 58.8%, 0.1);
  border: 1px solid hsla(0, 0%, 39.2%, 0.2);
  border-radius: 3px;
}

/*
  dark mode styles

  default styles are handled by tailwind config
*/

.dark .paf-typography {
  @apply text-gray-200;
}

.dark .paf-typography h1 {
  @apply text-white;
}

.dark .paf-typography h2 {
  @apply text-white;
}

.dark .paf-typography h3 {
  @apply text-white;
}

.dark .paf-typography h4 {
  @apply text-white;
}

.dark .paf-typography h5 {
  @apply text-white;
}

.dark .paf-typography strong {
  @apply text-white;
}

.dark .paf-typography li::before {
  @apply text-gray-300;
}

.dark .paf-typography a {
  @apply text-white;
}

.dark .paf-typography blockquote {
  @apply text-white;
}

.dark .paf-typography code {
  color: white;
}

.dark .paf-typography figcaption {
  @apply text-gray-600;
}

.dark .paf-typography::selection {
  /* @apply bg-brand-500; */
  backgroundcolor: '#6f7bb635';
}
