.paf-divider {
  width: 100%;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.paf-divider-vertical {
  @apply bg-gray-200 dark:bg-dark-500;
  width: 1px;
  height: inherit;
}

.paf-divider-vertical.paf-divider--light {
  @apply bg-gray-100 dark:bg-dark-600;
}

.paf-divider--no-text {
  @apply border-gray-200 dark:border-dark-500;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.paf-divider > span {
  @apply text-sm;
  @apply text-gray-300;
  @apply dark:text-dark-400;
  display: inline-block;
  padding: 0 1em;
}

.paf-divider--left:before {
  @apply border-gray-200 dark:border-dark-500;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  top: 50%;
  content: '';
  position: relative;
  display: inline-block;
  width: 5%;
}

.paf-divider--left:after {
  @apply border-gray-200 dark:border-dark-500;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  top: 50%;
  content: '';
  position: relative;
  display: inline-block;
  width: 95%;
}

.paf-divider--right:before {
  @apply border-gray-200 dark:border-dark-500;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  top: 50%;
  content: '';
  position: relative;
  display: inline-block;
  width: 95%;
}

.paf-divider--right:after {
  @apply border-gray-200 dark:border-dark-500;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  top: 50%;
  content: '';
  position: relative;
  display: inline-block;
  width: 5%;
}

.paf-divider--center:before,
.paf-divider--center:after {
  @apply border-gray-200 dark:border-dark-500;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  top: 50%;
  content: '';
  position: relative;
  display: inline-block;
  width: 50%;
}

.paf-divider--light.paf-divider--left:before,
.paf-divider--light.paf-divider--left:after,
.paf-divider--light.paf-divider--right:before,
.paf-divider--light.paf-divider--right:after,
.paf-divider--light.paf-divider--center:before,
.paf-divider--light.paf-divider--center:after,
.paf-divider--light.paf-divider--no-text {
  @apply border-gray-100 dark:border-dark-600;
}

.paf-divider--light.paf-divider > span {
  @apply text-gray-200;
  @apply dark:text-dark-800;
}
