.paf-loading {
  @apply transition-all relative;
}

.paf-loading--active .paf-loading-content {
  opacity: 0.4;
}
.paf-loading-content {
  @apply transition-opacity duration-300;
}

.paf-loading-spinner {
  @apply text-brand-800 animate-spin;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
